.container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryBlue);
    .link {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}
